<div class="question-status-container">
  <h2>Quiz Section</h2>
  <div class="question-status">
    <div
      class="question-card"
      [ngClass]="getStyle(i + 1)"
      *ngFor="let questionStatus of questionsCompletedStatus; let i = index"
      (click)="showQuestion(i)"
    >
      <p>Question No: {{ i + 1 }}</p>
    </div>
  </div>
  <app-question-tile
    [questionDetails]="currentQuestion"
    (questionResponse)="recordQuestionResponse($event)"
  ></app-question-tile>
</div>
