.question-status-container{
  padding: 1rem;
  border: thin solid black;
  margin: 1rem;
  .question-status{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: stretch;
    .question-card{
      border: thin solid black;
      padding: 1rem;
      border-radius: 8px;

    }
  }
  .completed-question{
    background-color: lightgreen;
  }
  .attending-question{
    background-color: lightblue;
  }
}
