<h2 *ngIf="progressDetails.isCourseCompleted === true">Course Completed</h2>
<app-course-intro
  [ProgressDetails]="progressDetails"
  *ngIf="shouldActivate('/')"
></app-course-intro>

<app-course-content
  *ngIf="shouldActivate('/level/:' + levelNo)"
  (levelCompleted)="onLevelCompleted($event)"
  [levelDetails]="courseDetails.levels[levelNo - 1]"
  [levelProgressDetails]="progressDetails.levels[levelNo - 1]"
></app-course-content>
