<div *ngIf="levelProgressDetails.isLevelCompleted" class="header">
  <p>Level Completed... </p>
  <button (click)="onClick()" class="button"> Go to Course Intro</button>
</div>

<h1>{{levelDetails.levelName}}</h1>

<app-video-section [videosList]="levelDetails.videos"></app-video-section>

<app-quiz-section [quizList]="levelDetails.quiz" (quizCompleted)="onQuizCompletion($event)"></app-quiz-section>
