.header{
  padding: 2rem;
  border-bottom: thin solid #ccc;
  display: flex;
  justify-content: flex-end;
  .button{
    padding: 1rem;
      border: 0;
      border-radius: 8px;
      box-shadow: 2px 2px 6px 2px #ccc;
      cursor: pointer;
  }
}
