<h3>{{ questionDetails.question }}</h3>
<form [formGroup]="form">
  <div *ngFor="let option of questionDetails.options; let index">
    <input
      type="radio"
      name="optionSelected"
      id="option"
      [value]="option"
      formControlName="optionSelected"
      (ngModelChange)="evaluateQuestion(questionDetails.questionNo)"
    />
    <label [for]="option">{{ option }}</label>
  </div>
</form>
