<div
  class="level-tile"
  [ngClass]="
    getStyle(
      levelProgressRecord.isLevelAccessible,
      levelProgressRecord.isLevelCompleted
    )
  "
>
  <div class="details">
    <h3>{{ levelDetails.levelName }}</h3>
    <p>No: of Videos {{ levelDetails.noOfVideos }}</p>
  </div>
  <div class="operation-container">
    <button
      (click)="onClick()"
      class="level-start-button"
      *ngIf="levelProgressRecord.isLevelAccessible"
    >
      Go to this Level
    </button>
  </div>
</div>
