
.level-tile{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: thin solid #eee;
  box-shadow: 2px 2px 6px 2px #ccc;
  margin: 1rem;
  .operation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .level-start-button {
      padding: 1rem;
      border: 0;
      border-radius: 8px;
      box-shadow: 2px 2px 6px 2px #ccc;
      cursor: pointer;
    }
  }
}
.accessible-level{
  box-shadow: 2px 2px 6px 2px lightskyblue;
}
.completed-level{
  box-shadow: 2px 2px 6px 2px lightgreen;
}
