/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
     margin: 0;
     font-family: 'Questrial', sans-serif;
}
