.main{
  min-height: 100vh;
  .course-heading{
    text-align: center;
  }
  .index-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
