<main class="main">
  <h2 class="course-heading">COURSE INTRO</h2>
  <app-course-index-container
    [progressDetails]="ProgressDetails"
    class="index-container"
  ></app-course-index-container>
</main>
